@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 15px;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #464d92;
  overflow: hidden;
}

.container {
  width: 400px;
  height: auto;
  background-color: inherit;
  padding: 2em 1.5em;
  color: #fff;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.title {
  text-align: center;
  margin-bottom: .5em;
}

.resultTitle {
  background-color: rgba(255, 255, 255, 0.08);
  text-align: center;
  width: 100%;
  padding: 1.5em;
  font-size: .8rem;
  word-wrap: break-word;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.range__slider {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.range__slider::before, .range__slider::after {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.range__slider::before {
  left: 10px;
  top: 7px;
  content: attr(data-min);
}

.range__slider::after {
  top: 7px;
  right: 10px;
  content: attr(data-max);
}

.length__title {
  text-transform: uppercase;
  font-size: .8rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  top: -20px;
  left: 0;
  font-variant-numeric: tabular-nums;
}

.length__title::after {
  content: attr(data-length);
}

#slider {
  -webkit-appearance: none;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.314);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .7em;
}

.settings__title {
  margin-bottom: .5em;
  text-transform: uppercase;
  font-size: .8rem;
}

.settings .setting {
  background-color: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1.5em;
  margin-bottom: .5em;
}

.settings .setting input[type="checkbox"] {
  z-index: 99;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 52px;
  height: 32px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #49454f;
  border-radius: 24px;
  border: 2px solid #938f99;
  -webkit-transition: border-color 200ms, background-color 200ms;
  transition: border-color 200ms, background-color 200ms;
}

.settings .setting input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: #938f99;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.settings .setting input[type="checkbox"]:checked::before {
  background-color: #381E72;
  width: 24px;
  height: 24px;
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.settings .setting input[type="checkbox"]:checked {
  border-color: #D0BCFF;
  background-color: #D0BCFF;
}

.settings .setting label {
  cursor: pointer;
}

.btn-generate {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;
  padding: 1em 2em;
  margin-top: .5em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(98, 100, 214, 0.7);
          box-shadow: 0px 5px 10px 0px rgba(98, 100, 214, 0.7);
}

.btn-generate:disabled {
  color: #313131;
  background-image: linear-gradient(135deg, #425092 0%, #3c2a4e 100%);
  cursor: not-allowed;
}

.btn-generate:active {
  -webkit-box-shadow: 0px 10px 20px 2px rgba(98, 100, 214, 0.7);
          box-shadow: 0px 10px 20px 2px rgba(98, 100, 214, 0.7);
}

.input-wrap {
  position: relative;
  z-index: 99;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 1em;
  background-color: rgba(255, 255, 255, 0.08);
  margin-bottom: 1.6em;
  width: 100%;
}

.input-wrap .input-span {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .02em;
  font-size: .8rem;
  background-color: #64b664;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  opacity: 0;
  pointer-events: none;
}

.input-wrap .input-span.copied {
  -webkit-animation-name: copiedAnimation;
          animation-name: copiedAnimation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}

@-webkit-keyframes copiedAnimation {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: .5;
    pointer-events: all;
  }
  100% {
    opacity: 1;
  }
}

@keyframes copiedAnimation {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  50% {
    opacity: .5;
    pointer-events: all;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 325px;
  }
}
/*# sourceMappingURL=styles.css.map */